<!DOCTYPE html>
<html data-theme="light" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction Model</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
</head>

<body>
    <header class="container">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo" class="logo">
        <div class="headings">
            <h1>Cardiovascular Disease Detection Model</h1>
            <p>by Manmeet Singh and Sayan Upadhyay</p>
        </div>
    </header>

    <form class="container pico-background-sand-200">
        <label for="age">Age</label>
        <input name="age" id="age" type="number" placeholder="in years">

        <fieldset>
            <legend>Choose your gender</legend>
            <input type="radio" id="male" name="sex" value="0" checked>
            <label for="male">Male</label>
            <input type="radio" id="female" name="sex" value="1">
            <label for="female">Female</label>
        </fieldset>

        <label for="chestpain">Type of Chest Pain</label>
        <select name="cp" id="chestpain">
            <option value=" ">--Choose--</option>
            <option value="0">Typical Angina</option>
            <option value="1">Atypical Angina</option>
            <option value="2">Non-Anginal Pain</option>
            <option value="3">Asympotatic</option>
        </select>

        <label for="trestbps">Resting Blood Pressure</label>
        <input name="trestbps" id="trestbps" type="number" placeholder="in mmHg">

        <label for="chol">Serum Cholestrol Level</label>
        <input name="chol" id="chol" type="number" placeholder="in mg/dL">

        <label for="fbs">Fasting Blood Sugar Level</label>
        <select name="fbs" id="fbs">
            <option value="">--Above 120 mg/dL?--</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>

        <label>Resting ECG Result</label>
        <select name="restecg" id="restecg">
            <option value="">--Choose--</option>
            <option value="0">Normal</option>
            <option value="1">Having ST-T Wave Abnormality</option>
            <option value="2">Showing Probable or Definite Left Ventricular Hypertrophy</option>
        </select>

        <label for="thalach">Heart Rate</label>
        <input name="thalach" id="thalach" type="number" placeholder="in BPM">

        <label for="exang">Exercise Induced angina</label>
        <select name="exang" id="exang">
            <option value="">--Choose--</option>
            <option value="0">No</option>
            <option value="1">Yes</option>
        </select>

        <label for="oldpeak">ST Depression Induced by exercise relative to rest</label>
        <input name="oldpeak" id="oldpeak" type="number" step="0.1" min="0" max="6.7" placeholder="0 to 6.7mm">

        <label for="slope">Slope of the peak ST exercise segment</label>
        <select name="slope" id="slope">
            <option value="">--Choose--</option>
            <option value="0">Unsloping</option>
            <option value="1">Flat</option>
            <option value="2">Downsloping</option>
        </select>

        <label for="ca">Number of major vessels coloured by Fluoroscopy</label>
        <input name="ca" id="ca" type="number" min="0" max="4" placeholder="0 to 4">

        <label for="thal">Thalium Stress Test Result</label>
        <select name="thal" id="thal">
            <option value="">--Choose--</option>
            <option value="0">Normal</option>
            <option value="1">Fixed Defect</option>
            <option value="2">Reversible Defect</option>
            <option value="3">Not described</option>
        </select>

        <button type="submit">Submit</button>

    </form>

    <dialog>
        <div>
            <p class="result"></p>
            <button class="closeModal">Close</button>
        </div>
    </dialog>

</body>

</html>